* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.color {
    background-color: white !important;
    border: 2px solid;
}
.box {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 100px;
}

.box:nth-child(1){
    background-color: blue;
}
.box:nth-child(2){
    background-color: brown;
}
.box:nth-child(3){
    background-color: chartreuse;
}
.box:nth-child(4){
    background-color: darkblue;
}
.box:nth-child(5){
    background-color: darkorange;
}
.box:nth-child(6){
    background-color: gold;
}
.box:nth-child(7){
    background-color: olive;
}
.box:nth-child(8){
    background-color: orchid;
}
.box:nth-child(9){
    background-color: slateblue;
}
.box:nth-child(10){
    background-color: tomato;
}
.box:nth-child(11){
    background-color: black;
}
.box:nth-child(12){
    background-color: crimson;
}
.box:nth-child(13){
    background-color: darkgreen;
}
.box:nth-child(14){
    background-color: darksalmon;
}
.box:nth-child(15){
    background-color: deepskyblue;
}
